#cloud-config
apt:
  primary:
    - arches: [default]
      uri: http://us.archive.ubuntu.com/ubuntu/

write_files:
  - path: /etc/apt/apt.conf.d/00-proxy
    permissions: 0644
    owner: root
    content: |
      Acquire::http::Proxy "${HTTP_PROXY}";
      Acquire::https::Proxy "${HTTP_PROXY}";
  - path: /etc/profile.d/00-proxy.sh
    permissions: 0744
    owner: root
    content: |
      export http_proxy=${HTTP_PROXY}
      export https_proxy=${HTTP_PROXY}
      export no_proxy=localhost
  - path: /etc/profile.d/.curlrc
    permissions: 0744
    owner: root
    content: |
      proxy=${HTTP_PROXY}
  - path: /home/root/install_elasticsearch.sh
    permissions: 0744
    owner: root
    content: |
      curl https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-8.6.1-amd64.deb --output elsaticsearch.deb
      sudo dpkg -i elasticsearch.deb
      sudo systemctl daemon-reload
      sudo systemctl enable elasticseach.service
      sudo systemctl start elasticseach.service
      

users:
  - name: ${VM_USER}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, root
    home: /home/${VM_USER}
    shell: /bin/bash
    lock_passwd: false
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCRJqHzox/UlOfnLvq/YX+89mPuT9fHH2J8EHXMTc3zIo/++0oMXv1MzVZq0I3RbNwGTHpw87fQaYxHsj4dpEzXJG3tU+da+Ia7aRaZYaOaM+Mo5fU6KPthk/VEJ2Bw3Il1+tHIdgvRK1U6XQU6JebzK8U5rCgTCG1QPhUh+YJVCb28xvFOpVWLNKkyQe6hCz80pFCrXtocIt5yaGAKS7A/Og3QSx7TUpQXj5NbbtQ4jj3rDpZNnPQBKCayXw1xFA2kE0yInpRImcFbRw6zmSPZ1vzsNMQkxD9XpgI+N/IHb8QTxLUbuetxtcy+nfJX6dJL3mxI/OXAtNmo5DHDJlpWGWlzjavXZ0mmMOS8J1YM9QnyOGSKPKbcda9JOEWJlpBuTCNQyXfiJoqfZqyCufV8zM0lvdiWKWLFT6b89GaYmnKbPsnoqLZblwiFwXUduQOzEXnZGy7kO39rQTxi8tk6BiWM+JVn+OPitFRgvDUcnQADKNZkaQJNCyypmt3S0Gs= mheni@lap2

ssh_pwauth: true
disable_root: false
package_update: true
package_upgrade: true
packages:
  - qemu-guest-agent
  - apt-transport-https
  - ca-certificates
  - curl
  - gnupg-agent
  - software-properties-common

runcmd:
  - /home/root/install_elasticsearch.sh 

#growpart:
#  mode: auto
#  devices: ['/']
#final_message: "The system is finally up, after $UPTIME seconds"
